.cartsection{
    background: linear-gradient(to right, #70d8ff, #bd8bff);
    min-height: 100vh;
    width: 100%;
    padding: 35px;
}


.cartsection h1{
    font-size: 2rem;
    font-weight: 600;
}

.cart-card{
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}

.cart-card img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.445);
}

.cart-card h5{
    padding-left: 15px;
    font-size: 1.1rem;
    position: relative;
    font-weight: 600;
    top: 5px;
}

.cart-card .row{
    padding: 15px;
}

.cart-card .row p{
    font-weight: 500;
}

.cart-card .remove{
    right: 0;
    padding: 15px;
    top: 40px;
    position: absolute;
    color: red;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.5rem
}

.remove-sm{
    color: red;
    font-weight: 600;
    display: none;
    cursor: pointer;
    font-size: 1rem
}


.none{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 679px){
    .cartsection{
        padding: 5px;
    }

    .cartsection h1{
        padding: 5px 15px;
    }
}

@media screen and (max-width: 471px){
    .remove{
        display: none;
    }

    .remove-sm{
        display: block;
    }
}